---
layout: base
---

<article class="post">
	<img
		src="/public/img/{{ hero_image }}"
		alt="{{ title }}"
		class="post__hero"
		width="1332"
		height="600"
		loading="eager"
		decoding="async" />
	<section class="post__content flow">
		<header class="post__info flow">
			<h2>This is: {{ title }}</h2>
			<p>{{ date | dateString }}</p>
			{% if "discography" in tags %}
			<blockquote class="post__category-description">
				<p>
					This post is part of a series where I listen through a band's full discography and talk
					about that journey. If you're only interested in my final thoughts and the resulting
					playlist I made, skip to the end of the article.
				</p>
			</blockquote>
			{% endif %}
		</header>
		<div class="post__body flow">{{ content | safe }}</div>
		<div class="post__footer">
			<p>Written by: {{ author }}</p>
			<!-- prettier-ignore -->
			{% set nextPost = collections.post | getNextCollectionItem(page) %}
			{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
			{% if previousPost %}
			<a href="{{ previousPost.url | url }}" aria-label="previous post">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					version="1.1"
					x="0px"
					y="0px"
					viewBox="0 0 26 26"
					enableBackground="new 0 0 26 26">
					<path
						d="M23.021,12.294l-8.714-8.715l-1.414,1.414l7.007,7.008H2.687v2h17.213l-7.007,7.006l1.414,1.414l8.714-8.713  C23.411,13.317,23.411,12.685,23.021,12.294z" />
				</svg>
			</a>
			{% endif %}
		</div>
	</section>
</article>
