html {
	--border-color: hsl(0, 0%, 50%, 0.5);

	color-scheme: light dark;
	overflow-wrap: break-word;
}

a {
	transition: opacity 0.2s ease;
}

a:hover {
	opacity: 0.5;
}

.video-embed,
.playlist-embed {
	margin-block: clamp(1ex, 5vw, 6ex);
}

.video-embed iframe {
	aspect-ratio: 16 / 9;
	block-size: 100%;
	inline-size: 100%;
}

blockquote {
	border-left: 1px solid var(--border-color);
	padding: 1rem;
}

blockquote p {
	font-style: italic;
}
