@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
// layouts ------------------------
@import './variables.scss';
@import './layouts/layout.scss';
//pages ----------------------------
@import './pages/info.scss';
@import './pages/blog/blog.scss';
// components ------------------------
@import './components/header.scss';
@import './components/bloglist.scss';

body {
  font-family: "Public Sans", "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .2s ease;
}

a:hover {
  transition: opacity .2s ease;
  opacity: .5;
  text-decoration-color: inherit;
}

//TYPOGRAPHY-------------------------------------

h1, h2, h3, h4, h5, h6, p {
  font-family: "Public Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  color: var(--text-color);
}

@media (min-width: 1280px) {
  h2 {
    font-size: 1.5rem;
  }
}