html {
  --black-1: hsl(0,0%,27%);
  --black-2: hsl(0,0%,19%);
  --light-gray: #A0A0A0;
  --light-gray-2: #EBEBEB;
  --blue-1: #BFCDF9;
  --border-color: var(--light-gray-2, #EBEBEB);
  --font-stack: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  --lightness: 0%;
  font-family: var(--font-stack);
  color: hsl(0, 0%, var(--lightness));
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .2s ease;
}

a:hover {
  transition: opacity .2s ease;
  opacity: .5;
  text-decoration-color: inherit;
}

//TYPOGRAPHY-------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  --lightness: 27%;
  color: hsl(0, 0%, var(--lightness));
  font-size: 1.2rem;
}

.video-embed {
  display: block;
  margin-block-end: clamp(1ex, 5vw, 6ex);
  contain: content;
  position: relative;
  width: 100%;
}

.video-embed::after {
  content: "";
  display: block;
  padding-block-end: calc(100% / (16 / 9));
}

.video-embed iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 1280px) {
  h2 {
    font-size: 1.5rem;
  }
}

//@media (prefers-color-scheme: dark) {
//  html {
//    --border-color: var(--black-1, #464646);
//  }
//  body {
//    --lightness: 100%;
//    background-color: var(--black-2);
//  }
//
//  p {
//    --lightness: 80%;
//  }
//}