html {
  --border-color: hsl(0, 0%, 50%, .5);
  --bg: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 27%);
  --font-stack: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  color-scheme: light dark;
  overflow-wrap: break-word;
}

body {
  font-family: var(--font-stack);
}

a {
  transition: opacity .2s ease;

  &:hover {
    opacity: .5;
  }
}

//TYPOGRAPHY-------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.video-embed {
  display: block;
  margin-block-end: clamp(1ex, 5vw, 6ex);
  contain: content;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: block;
    padding-block-end: calc(100% / (16 / 9));
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

blockquote {
  border-left: 1px solid var(--border-color);
  padding: 1rem;
  font-style: italic;
  margin-block-end: 2rem;

  p {
    margin-block-end: 0;
  }
}