/* Use a more-intuitive box-sizing model */
html {
	--system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Remove default margin */
* {
	margin: 0;
}

/* Set core body defaults */
body {
	block-size: 100%;
	font-family: var(--system-fonts);
	line-height: 1.5;
	min-block-size: 100vh;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
	font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
	padding: 0;
}

/* Create equal spacing between elements in a flow context without setting display */
.flow > * + * {
	margin-block-start: var(--flow-space, 1.45em);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
