html {
  --black-1: #464646;
  --black-2: #313131;
  --light-gray: #A0A0A0;
  --light-gray-2: #EBEBEB;
  --blue-1: #BFCDF9;
  --border-color: var(--light-gray-2, #EBEBEB);
  --text-color: var(--black-1, #464646);
}