---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.rss.url }}">
  <title>{{ metadata.rss.title }}</title>
  <subtitle>{{ metadata.rss.subtitle }}</subtitle>
  <link rel="self" href="{{ permalink | absoluteUrl(metadata.rss.url) }}" />
  <link href="{{ metadata.rss.url }}" rel="alt" />
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.rss.url }}</id>
  <author>
    <name>{{ metadata.rss.author.name }}</name>
    <email>{{ metadata.rss.author.email }}</email>
  </author>
  {% for post in collections.post %}
  {% set absolutePostUrl %}
  {{ post.url | url | absoluteUrl(metadata.rss.url) }}
  {% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {% endfor %}
</feed>
